.uk-navbar-nav>li>a {
  // font-family: $sans-serif;
  // font-weight: $bold-weight;
  text-transform: none;
  color: $dark-blue;
  font-family: $condensed-sans-serif;
  font-weight: $condensed-weight;
}

.nav-wrap, .uk-navbar-container {
  z-index: 500 !important;
}


.uk-container-expand {
    background: transparent;
}

.nav-wrap, .nav {
    background: $white;
}


.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  font-size: 1.5rem;
}

.uk-navbar-item, .uk-navbar-nav>li>a {
  &:hover {
    color: $light-dark-blue;
  }
}

.uk-navbar-nav>.uk-navbar-item>a {
  // font-size: 1.75em;
  text-transform: uppercase;
}

//
.nav-logo:hover {
    color: $light-dark-blue;
}

.logo-wrap {
  float: right;
}

.uk-navbar .uk-icon {
  position: relative;
  top: 3px;
  // color: $dark-blue;
}

// .uk-navbar .uk-button {
//   border: 1px solid $dark-blue;
// }

// .uk-navbar .uk-subnav-divider>:nth-child(n+2):not(.uk-first-column)::before {
//   border-left: 1px solid $dark-blue;
// }

.call {
  font-family: $sans-serif;
  font-size: 1em;
  color: $black;
}

.nav-logo-mini {
  //height: 40px;
  width: 210px;
}

.nav-logo, .nav-logo-mini {
  font-family: $condensed-sans-serif;
  text-transform: uppercase;
  color: $dark-blue;

}

.nav-logo-mini {
  font-weight: 500;
  font-size: 2.2em;
}

@media screen and (min-width: 906px) and (max-width: 960px) {
  .nav-logo-mini {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 640px) {
  .nav-logo-mini {
    font-size: 1.8em;
  }
}

.nav-logo {
  // font-size: .8em;
  position: relative;
  color: $dark-blue;
  font-size: 1.3em;
  font-weight: 500;
  // left: 18px;
  // padding-bottom: 2px;
}
@media screen and (min-width: 950px) and (max-width: 1250px) {
  .nav-logo {
    font-size: 1em;
  }
}

.nav-wrap.uk-sticky-fixed {
    border-bottom: 1px solid gainsboro;
    box-shadow: $boxshadow;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  padding: 0;
  margin-right: .75em;
  letter-spacing: .08rem;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  border-bottom: 0 !important;
}

.uk-subnav>*>:first-child {
  font-family: $sans-serif;
  font-size: 1.1rem;
  text-transform: capitalize;
  // text-transform: uppercase;
  // letter-spacing: .09rem;
}

// .uk-navbar .uk-icon {
//     top: 8px;
// }

// .categories>*>:first-child {
//   color: $black;
// }


// .uk-offcanvas-bar {
//   background: transparent;
// }
.uk-offcanvas-bar .uk-navbar-item {
  height: 50px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  height: 55px;
}

.uk-offcanvas-bar .uk-navbar-item a {
  font-family: $sans-serif;
  color: $black;
}
.uk-offcanvas-bar .uk-close, .uk-offcanvas-bar .uk-close:hover {
  color: $black;
}

// .uk-navbar-nav > li > a {
//   font-size: 1.25em;
// }



.uk-navbar-dropdown {
  z-index: 5000;
  width: inherit;
  padding: .5em 1.25em 1em 1em;
  left: -20px !important;
  top: 50px !important;
  background: $white;
  // background: $background-color;
  // background-image: $background-image;
}

.uk-sticky-fixed  .uk-navbar-dropdown {
  border-top: none;
  border: 1px solid $light-grey;
}

.uk-navbar-item, .uk-navbar-dropdown-nav {
  font-family: $sans-serif;
  font-size: 1em;
  color: $dark-blue;
}

.uk-navbar-dropdown-nav>li>a {
  color: $dark-blue;
}
.fa-angle-down {
  left: -3px;
    top: 2px;
    position: relative;
}

@media screen and (max-width: 400px) {
  nav .uk-navbar-left {
    width: 140px;
    position: relative;
    top: 5px;
  }
}

@media screen and (min-width: 1600px) {
  .uk-navbar-right-short {
    margin-left: 11em;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1165px) {
  .uk-navbar-nav > li > a {
    font-size: 1em;
  }
}

@media screen and (min-width: 950px) and (max-width: 1023px) {
  .uk-navbar-nav > li > a {
    font-size: .9em;
  }
}


@media screen and (min-width: 1600px) {
  .uk-navbar-right-short {
      margin-left: 10.5em;
  }
}
