backend:
  name: git-gateway
  branch: master

media_library:
  name: uploadcare
  config:
    publicKey: f445c35ed91bf3a391ee
    imageShrink: '575x375 100%'

display_url: https://derrickdiary.netlify.com

collections:
  - label: "Pages"
    name: "pages"
    folder: "src/pages"
    sort: "date:desc"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "default"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Display Title", name: "display-title", widget: "boolean", default: true, required: false}
      - {label: "Featured Image", name: "image", widget: "string", required: false}
      - {label: "Permalink ( /page-url-name/ )", name: "permalink", widget: "string", required: false}
      - {label: "Add Social Share Links", name: "share", widget: "boolean", default: false, required: false}
      - {label: "Include Left Aside", name: "left-aside", widget: "boolean", default: true, required: false}
      - {label: "Include First Right Aside", name: "right-aside-top", widget: "boolean", default: true, required: false}
      - {label: "Allow Pins", name: "pin-it", widget: "boolean", default: true, required: false}
      - {label: "Include Second Right Aside (CTA)", name: "right-aside-bottom", widget: "boolean", default: true, required: false}
      - {label: "Body", name: "body", widget: "markdown", required: false}
  - label: "Sports"
    name: "sports"
    folder: "src/my_collections/_posts/sports"
    sort: "date:desc"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Publish Date/Time", name: "date", widget: "datetime", default: ""}
      - {label: "Add Social Share Links", name: "share", widget: "boolean", default: true, required: false}
      - {label: "Include Left Aside", name: "left-aside", widget: "boolean", default: true, required: false}
      - {label: "Include Top Right Aside", name: "right-aside-top", widget: "boolean", default: true, required: false}
      - {label: "Featured Image", name: "image", widget: "string", required: false}
      - {label: "Featured Image Alt Text", name: "image-alt", widget: "string", required: false}
      - {label: "Share Image (resize for Facebook/Twitter Cards)", name: "share-image", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Categories", name: categories, widget: "hidden", default: ["sports"], required: false}
      - {label: "Tags", name: tags, widget: list, default: [""], required: false}
    meta:
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss"}
  - label: "Features"
    name: "features"
    folder: "src/my_collections/_posts/features"
    sort: "date:desc"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Publish Date/Time", name: "date", widget: "datetime", default: ""}
      - {label: "Add Social Share Links", name: "share", widget: "boolean", default: true, required: false}
      - {label: "Include Left Aside", name: "left-aside", widget: "boolean", default: true, required: false}
      - {label: "Include Top Right Aside", name: "right-aside-top", widget: "boolean", default: true, required: false}
      - {label: "Featured Image", name: "image", widget: "string", required: false}
      - {label: "Featured Image Alt Text", name: "image-alt", widget: "string", required: false}
      - {label: "Share Image (resize for Facebook/Twitter Cards)", name: "share-image", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Categories", name: categories, widget: "hidden", default: ["features"], required: false}
      - {label: "Tags", name: tags, widget: list, default: [""], required: false}
    meta:
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss"}
  - label: "Art and Literature"
    name: "art-and-literature"
    folder: "src/my_collections/_posts/art-and-literature"
    sort: "date:desc"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Publish Date/Time", name: "date", widget: "datetime", default: ""}
      - {label: "Add Social Share Links", name: "share", widget: "boolean", default: true, required: false}
      - {label: "Include Left Aside", name: "left-aside", widget: "boolean", default: true, required: false}
      - {label: "Include Top Right Aside", name: "right-aside-top", widget: "boolean", default: true, required: false}
      - {label: "Featured Image", name: "image", widget: "string", required: false}
      - {label: "Featured Image Alt Text", name: "image-alt", widget: "string", required: false}
      - {label: "Share Image (resize for Facebook/Twitter Cards)", name: "share-image", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Categories", name: categories, widget: "hidden", default: ["art-and-literature"], required: false}
      - {label: "Tags", name: tags, widget: list, default: [""], required: false}
    meta:
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss"}
  - label: "News"
    name: "news"
    folder: "src/my_collections/_posts/news"
    sort: "date:desc"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Publish Date/Time", name: "date", widget: "datetime", default: ""}
      - label: "Featured Image"
        name: "featured-image"
        widget: "image"
        options:
          media_library:
            config:
              publicKey: f445c35ed91bf3a391ee
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Categories", name: categories, widget: "hidden", default: ["news"], required: false}
      - {label: "Tags", name: tags, widget: list, default: [""], required: false}
      - {label: "Add Social Share Links", name: "share", widget: "boolean", default: true, required: false}
      - {label: "Include Left Aside", name: "left-aside", widget: "boolean", default: true, required: false}
      - {label: "Include Top Right Aside", name: "right-aside-top", widget: "boolean", default: true, required: false}
    meta:
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss"}
  - label: "Opinions"
    name: "opinions"
    folder: "src/my_collections/_posts/opinions"
    sort: "date:desc"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Publish Date/Time", name: "date", widget: "datetime", default: ""}
      - {label: "Add Social Share Links", name: "share", widget: "boolean", default: true, required: false}
      - {label: "Include Left Aside", name: "left-aside", widget: "boolean", default: true, required: false}
      - {label: "Include Top Right Aside", name: "right-aside-top", widget: "boolean", default: true, required: false}
      - {label: "Featured Image", name: "image", widget: "string", required: false}
      - {label: "Featured Image Alt Text", name: "image-alt", widget: "string", required: false}
      - {label: "Share Image (resize for Facebook/Twitter Cards)", name: "share-image", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Categories", name: categories, widget: "hidden", default: ["opinions"], required: false}
      - {label: "Tags", name: tags, widget: list, default: [""], required: false}
    meta:
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss"}
